// VARIABLES
$color-on-air-red: #fb4e3e;
$color-alien: #00f000;

h1 , h2, p {
    margin: 0px;
}

.App {
	text-align: center;
    padding: 20px 0px;

	.logo-container {
        border: 5px solid $color-on-air-red;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        padding: 3px 6px; 
        color: $color-on-air-red;
        margin: 0px auto;
        font-size: 12px;
        margin-bottom: 20px;
	}

    .border-bottom {
        border-bottom: 1px solid #3D3D3D ;
        width: 100%;
    }
}

.game-container {
	display: flex;
	align-items: center;
	flex-direction: column;

    .current-player { 
        margin-top: 20px;
    }

	.board {
		border-radius: 10px;
		width: 300px;
		height: 300px;
		margin: 0 auto;
		display: grid;
		grid-template: repeat(3, 1fr) / repeat(3, 1fr);

		.square {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #d3d5d4;
			border-radius: 2px;
			font-size: 45px;
			font-weight: 500;
			cursor: pointer;
			outline: none;
			margin: 3px;
			color: $color-on-air-red;

			&:hover {
				background-color: #b6b8b8;
			}
		}

		&.alien {
			.square {
				background-color: $color-alien;

				&:hover {
					opacity: 70%;
				}
			}
		}

		&.XXS {
			width: 50px;
			height: 50px;

			.square {
				font-size: 5px;
			}
		}

		&.L {
			width: 450px;
			height: 450px;

			.square {
				font-size: 65px;
			}
		}

		&.XXL {
			width: 600px;
			height: 600px;

			.square {
				font-size: 100px;
			}
		}
	}

	.grid-size-options-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
        margin: 20px 0px;

		.grid-size-option {
			margin-left: 10px;
			cursor: pointer;
			opacity: 70%;

			&:hover {
				opacity: 90%;
			}
		}
	}

	.alien-text {
		opacity: 30%;
		cursor: pointer;
        margin-top: 20px;

		&:hover {
			opacity: 70%;
		}
	}

    .button-primary {
        margin-top: 20px;
    }
}

.button-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 25px;
	background-color: $color-on-air-red;
	color: black;
	max-width: max-content;
	outline: none;
	cursor: pointer;
	font-weight: 800;
	border: none;

	&:hover {
		background-color: #c83e31;
	}
}